#editors
*.swp
*.swo
*~

# build temporary
*.Po
*.Plo
*.gmo
intl/
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#build system
configure
Makefile
config.h
config.h.in
config.log
config.status
libtool
stamp-h1
autom4te.cache/
aclocal.m4
Makefile.in

compile
config.guess
config.sub
depcomp
missing
